.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.pink {
    background: hotpink;
}
.pink-text {
    color: #2e1f54;
}

.purple {
    background: rebeccapurple;
}
.purple-text {
    color: #ecec00;
}