
.container {
    width: 300px;
    height: 75px;
    background: #61dafb;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 15px;
}

.first {
    position: relative;
    top: 3px;
    align-self: end;
    margin-left: 5px;
}

.avatar {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.second {
    position: relative;
    border-radius: 10px;
    width: 200px;
    background: gray;
    word-wrap: break-word;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}


/*Like Ignat Do*/

.a {
    position: absolute;
    height: 16px;
    width: 23px;
    z-index: 999;
    background: radial-gradient(circle at 0 0, rgba(0 , 0, 0, 0) 15px, rgb(128, 128, 128) 5px);
    left: -15px;
    top: 59px;
}

/*Like I do*/

/*.second::before, .second::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*}*/

/*.second::before {*/
/*    z-index: 999;*/
/*    border-bottom-right-radius: 100%;*/
/*    left: -16px;*/
/*    top: 58px;*/
/*    border-style: solid;*/
/*    border-width: 0.5em 0.5em 0.5em 0.5rem;*/
/*    border-color: #61dafb;*/
/*}*/

/*.second::after{*/
/*    left: -15px;*/
/*    top: 51px;*/
/*    border-style: solid;*/
/*    border-width: 0.5em 0.2em 1em 1.2em;*/
/*    border-color: transparent transparent grey transparent;*/
/*}*/

.name {
    font-size: 1.1rem;
    color: hotpink;
}

.message {
    color: azure;
}

.time {
    position: relative;
    float: right;
    color: gainsboro;
    bottom: 5px;
}