
.container {
    width: 300px;
    background: #61dafb;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 15px;
}

.first {
    align-self: end;
    margin-left: 5px;
}

.avatar {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.second {
    position: relative;
    border-radius: 10px;
    width: 200px;
    background: gray;
    word-wrap: break-word;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

/*.second::before {*/
/*    border-bottom-left-radius: 0.8rem 0.7rem;*/
/*    border-right: 1rem solid #248bf5;*/
/*    left: -0.35rem;*/
/*    top: -10px;*/
/*    transform: translate(0, -0.1rem);*/
/*}*/

/*.second::before, .second::after {*/
/*    bottom: -0.1rem;*/
/*    content: "";*/
/*    height: 1rem;*/
/*    position: absolute;*/
/*}*/

/*.second::after {*/
/*    background-color: #fff;*/
/*    border-bottom-right-radius: 0.5rem;*/
/*    left: 20px;*/
/*    transform: translate(-30px, -30px);*/
/*    width: 10px;*/
/*}*/

.second::before, .second::after {
    content: '';
    position: absolute;
}

.second::before {
    z-index: 999;
    border-bottom-right-radius: 0.5rem;
    left: -12px;
    top: 59px;
    border-style: solid;
    border-width: 0.4em 0.2em 0.4em 0.6rem;
    border-color: #61dafb;
}

.second::after{
    left: -15px;
    top: 51px;
    border-style: solid;
    border-width: 0.5em 0.2em 1em 1.2em;
    border-color: transparent transparent grey transparent;
}

.name {
    font-size: 1.1rem;
    color: hotpink;
}

.message {
    color: azure;
}

.time {
    position: relative;
    float: right;
    color: gainsboro;
    bottom: 5px;
}