.navContainer{
    position: relative;
    display: flex;
    width: 240px;
    left: -215px;
    transition: 1s;
}

.navContainer:hover{
    transform: translateX(200px);
    transition: transform 1s;
}

.navContainer a {
    text-decoration: none;
    color: hotpink;
    position: relative;
    padding: 5px;
}

.navContainer a:hover {
    color: purple;
}

.nav {
    margin-left: 20px;
    height: 22px;
    width: 22px;
}

